.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .grid {
    display:inline-flex;
    align-items: left;
    justify-content: center;
    flex-wrap:nowrap;
  
    max-width: 800px;
    margin-top: 4px;
  }
  
  .card {
    margin: 5px;
    flex-basis: 25%;
    padding: 5px;
    text-align: left;
    color: #81A1C1;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #434C5E;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

  .card2 {
    text-align: left;
    color: #81A1C1;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #434C5E;
  }

  .card2:hover,
  .card2:focus,
  .card2:active {
    color: #A3BE8C;
    border-color: #D08770;
    background-color: #5E81AC;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #A3BE8C;
    border-color: #D08770;
    background-color: #5E81AC;
  }

  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 18px;
  }

  .card p {
    margin: 0;
    font-size: 16px;
    line-height: 2;
  }

  @media (max-width: 800px) {
    .grid {
      width: 100%;
      flex-direction:column;
    }
  }

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Link2 {
  color: #EBCB8B;
  text-decoration: overline;
  background-color: #B48EAD;
}
.Link2:hover {
  color: #D08770;
  text-decoration: underline ;
}
